# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.WebAPI-CQRS.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\progetti\MyRepository\WebAPI-CQRS\.idea\.idea.WebAPI-CQRS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
