# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SunshineWebAPI.iml
# Datasource local storage ignored files
/../../../../../../../:\Personale\Progetti\SunshineWebAPI\.idea\.idea.SunshineWebAPI.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
