# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.SunshineWebAPI.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Personale\Progetti\SunshineWebAPI\.idea\.idea.SunshineWebAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
